[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
mock = "*"
opengrapher = {editable = true,path = "."}
twine = ">=1.11.0"
wheel = ">=0.31.0"
setuptools = ">=38.6.0"

[packages]
beautifulsoup4 = "*"
requests = "*"
opengrapher = {editable = true,path = "."}

[requires]
python_version = "3.4"
